*~
*.orig
android-libs/launcher/src/com/beloko/idtech/R.java
/*build*/
/results/
/.idea/

/CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
Makefile

js-build.bat
/js-static/

*.a

*.lnk
/.vscode/

/android-libs/
/deps/bzip2/
/deps/jpeg-6b/
/deps/SDL/
/deps/SDL_mixer/
/deps/SDL_net/
/deps/zlib/
